<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">{{ $.Site.Copyright | safeHTML }}</div>
      {{ else }}
      <div class="copyright">
          <span>
              © {{ now.Year }} 0days.io
              <span>
                  <a href="https://github.com/cpfbj">Github</a>
              </span>
              <span>
                  <a href="https://twitter.com/FrederikErMig">Twitter</a>
              </span>
              <span>
                  <a href="https://www.linkedin.com/in/frederikbogeskovjohnsen/">LinkedIn</a>
              </span>
</div>
    {{ end }}
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

{{- partial "extended_footer.html" . }}
